<template>
	<v-container class="grey lighten-5">
		<v-row class="mb-6" no-gutters>
			<v-col>
				<v-row class="mb-6" no-gutters>
					<v-col>
						 <v-card class="mb-6" outlined tile> {{ item.familinomo.enhavo }} {{ item.unuaNomo.enhavo }} </v-card>
					</v-col>
				</v-row>
				<v-row no-gutters>
					<v-col>
						<v-card class="mb-6" outlined tile> {{ item.tipo.nomo.enhavo }} </v-card>
					</v-col>
				</v-row>
				<v-row no-gutters>
					<v-col>
						<v-card class="mb-6" outlined tile> {{ item.speco.kodo }} </v-card>
					</v-col>
				</v-row>
			</v-col>
			<v-col lg="2">
				<v-card class="mb-6" outlined tile>
					{{ item.tipo.kodo }}
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<script>
import BatalantoListo from '@/components/Komunumo/Laboro/BatalantoListo';
import BatalantoKarto from '@/components/Komunumo/Laboro/BatalantoKarto';
import { komunumo_query } from './queries';
import { kombatantoj_query } from './queries';
import { graphQlUrlize } from '~/utils'



export default {
	components: {
		BatalantoListo,
		BatalantoKarto
	},
		
	head () {
      return {
        title: this.item.familinomo.enhavo
      }
    },

    // Асинхронное получение данный с сервера (работает и на сервере)
	async asyncData ({ app, params, query, error, props }) {
		return await app.$axios.get(graphQlUrlize({
			query: kombatantoj_query,
			variables: { uzantoId: props.batalanto_id }
		
		}))
			.then(response => {
			const resp = response.data.data.kombatantoj;

			if (resp.edges.length) {
				return Promise.resolve({
				item: Object.assign({}, resp.edges[0].node),
				loading: false
				})
			} else {
				error({ status: 404, message: 'Сообщество не найдено' })
			}
		  })
			.catch(e => {
			console.error(e)
			return Promise.reject(e)
			})
	    },
      }

</script>