<template>
  <v-card>
    <v-card-text>
      <v-flex
        xs12
        sm10
        md6
        lg5
      >
        <v-form
          ref="reg_form"
          v-model="form_valid"
          :disabled="processing"
          :lazy-validation="false"
        >
          <v-text-field
            id="first_name"
            v-model="first_name"
            :rules="nameRules"
            label="Имя"
            :disabled="processing || nick_only"
            maxlength="32"
            required
            clearable
          />
          <v-text-field
            id="last_name"
            v-model="last_name"
            :rules="lastNameRules"
            label="Фамилия"
            :disabled="processing || nick_only"
            maxlength="48"
            required
            clearable
          />
          <!--<v-text-field
            v-model="nickname"
            :rules="nicknameRules"
            label="Укажите Ваш никнейм в Universo"
            :disabled="processing"
            maxlength="30"
            required
            clearable
          />-->
          <v-divider />
          <v-text-field
            id="username"
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            :disabled="processing || nick_only"
            required
            clearable
            maxlength="128"
          />
          <v-layout
            row
            wrap
          >
            <v-flex
              xs7
              sm3
              md4
              lg3
            >
              <v-autocomplete
                id="tel_code"
                v-model="tel_code"
                label="Код страны"
                :items="infoj.tel_kodoj"
                :rules="telCodeRules"
                :disabled="processing || nick_only"
                clearable
              >
                <template v-slot:selection="{ item, index }">
                  <div style="width: 30px">
                    <v-img
                      v-if="item.flag"
                      :src="item.flag"
                    />
                  </div>&nbsp;
                  {{ item.text }}
                </template>

                <template v-slot:item="{ item, index }">
                  <div style="width: 30px">
                    <v-img
                      v-if="item.flag"
                      :src="item.flag"
                    />
                  </div>&nbsp;
                  {{ item.text }}
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex
              xs12
              sm9
              md8
              lg9
            >
              <v-text-field
                id="tel_number"
                v-model="tel_number"
                label="Телефон"
                :disabled="processing || nick_only"
                :rules="telNumberRules"
                maxlength="16"
                required
                clearable
              />
            </v-flex>
          </v-layout>
          <v-divider />
          <v-select
            v-model="sex"
            label="Пол"
            :items="sexes"
            :disabled="processing || nick_only"
            clearable
          />
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            :return-value.sync="birthday_date"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="birthday_date"
                label="Дата рождения"
                prepend-icon="mdi-calendar"
                readonly
                :disabled="processing || nick_only"
                v-on="on"
              />
            </template>
            <v-date-picker
              v-model="birthday_date"
              no-title
              scrollable
            >
              <v-spacer />
              <v-btn
                flat
                color="primary"
                @click="menu = false"
              >
                Отмена
              </v-btn>
              <v-btn
                flat
                color="primary"
                @click="$refs.menu.save(birthday_date)"
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
          <v-autocomplete
            v-model="language"
            label="Основной язык"
            :items="infoj.lingvoj"
            :rules="langRules"
            :disabled="processing || nick_only"
            clearable
          >
            <template v-slot:selection="{ item, index }">
              <div style="width: 20px">
                <v-img
                  v-if="item.flag"
                  :src="item.flag"
                />
              </div>&nbsp;
              {{ item.text }}
            </template>
            <template v-slot:item="{ item, index }">
              <div style="width: 20px">
                <v-img
                  v-if="item.flag"
                  :src="item.flag"
                />
              </div>&nbsp;
              {{ item.text }}
            </template>
          </v-autocomplete>
          <v-divider />
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            type="password"
            label="Пароль"
            :disabled="processing || nick_only"
            required
            clearable
            maxlength="32"
          />
          <v-text-field
            id="confirm"
            v-model="confirm_password"
            :rules="confirmRules"
            type="password"
            label="Подтверждение пароля"
            :disabled="processing || nick_only"
            required
            clearable
            maxlength="32"
          />
          <vue-recaptcha
            :sitekey="sitekey"
            size="compact"
            :load-recaptcha-script="true"
            @expired="resetReCapchaKey"
            @error="resetReCapchaKey"
            @verify="setReCapchaKey"
          />
        </v-form>
      </v-flex>
    </v-card-text>
    <v-card-actions>
      <v-btn
        :disabled="!form_valid || !recapcha_key || processing"
        color="success"
        @click="registration"
      >
        <span v-if="!processing">
          Зарегистрироваться
        </span>
        <v-progress-circular
          v-else
          indeterminate
          size="28"
        />
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  import VueRecaptcha from 'vue-recaptcha'

  const nameRegexp = /[№~!?;,:'"@#$%^&*()_+{}<>\\[\]\\/]/

  function mapErrorObject (errors) {
    let out = {}

    for (let item of errors) {
      out[item.field] = item.message
    }

    return out
  }

  export default {
    name: 'RegForm',

    components: {
      VueRecaptcha
    },

    data () {
      return {
        menu: false,
        nick_only: false,
        sitekey: process.env.VUE_APP_RECAPTCHA_SITE_KEY || '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI',
        form_valid: false,
        processing: false,
        errors: {},
        infoj: {
          landoj: [],
          lingvoj: [],
          tel_kodoj: []
        },
        recapcha_key: null,
        first_name: '',
        last_name: '',
        nameRules: [
          v => !!v || 'Поле обязательно для заполнения',
          v => !nameRegexp.test(v) || 'Поле имеет недопустимые символы: скобки, подчеркивания, знаки припенания (кроме точки) и пр.'
        ],
        lastNameRules: [
          v => !nameRegexp.test(v) || 'Поле имеет недопустимые символы: скобки, подчеркивания, знаки припенания (кроме точки) и пр.'
        ],
        nickname: '',
        nicknameRules: [
          v => !!v || 'Поле обязательно для заполнения',
          v => (!v.length || v[0] !== '-') || 'Ник не может начинаться с символа минуса',
          v => /^[a-zA-Z0-9ĈĉĤĥĴĵŜŝŬŭ-]+$/.test(v) || 'Ник может содержать только латинские символы, цифры, символ минуса, а так же расширенные символы эсперанто (ĈĉĤĥĴĵŜŝŬŭ)',
          v => (v.length >= 5 && v.length < 31) || 'Ник должен быть иметь длину от 5 до 30 символов',
          v => !this.errors.hasOwnProperty('unuaNomo') || this.errors.unuaNomo
        ],
        email: '',
        emailRules: [
          v => !!v || 'Поле обязательно для заполнения',
          v => /^[^@]+@[^@]+\.[^@]+$/.test(v) || 'Указан некорректный e-mail',
          v => !this.errors.hasOwnProperty('chefaRetposhto') || this.errors.chefaRetposhto
        ],
        tel_code: null,
        tel_number: null,
        telCodeRules: [
          v => !!v || !this.tel_number || 'Укажите код'
        ],
        telNumberRules: [
          v => !!v || !this.tel_code || 'Укажите номер телефона',
          v => /[0-9]+/.test(v) || !v || 'Недопустимые символы',
          v => !this.errors.hasOwnProperty('chefaTelefonanumero') || this.errors.chefaTelefonanumero
        ],
        sexes: [
          { text: 'Не указан', value: null },
          { text: 'Мужской', value: 'vira' },
          { text: 'Женский', value: 'virina' }
        ],
        sex: null,
        birthday_date: null,
        language: null,
        langRules: [
          v => !!v || 'Поле обязательно для заполнения',
          v => !this.errors.hasOwnProperty('lingvo') || this.errors.lingvo
        ],
        password: '',
        passwordRules: [
          v => !!v || 'Поле обязательно для заполнения',
          v => /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) || 'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
          v => (v.length >= 6 && v.length <= 32) || 'Пароль должен иметь длину от 6 до 32 символов',
          v => !this.errors.hasOwnProperty('pasvorto') || this.errors.pasvorto
        ],
        confirm_password: '',
        confirmRules: [
          v => !!v || 'Поле обязательно для заполнения',
          v => /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) || 'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
          v => this.password === v || 'Пароли не совпадают'
        ]
      }
    },

    mounted () {
      this.loadInfoData()
    },

    methods: {
      registration () {
        if (!this.nick_only && this.$refs.reg_form && this.$refs.reg_form.validate()) {
          this.processing = true

          const query = `
mutation($email: String!, $paswd: String!, $first_name: String!,
$last_name: String!, $lang: String, $tel: String, $sex: String,
$captcha: String!) {
  registrado(chefaRetposhto: $email, pasvorto: $paswd,
  unuaNomo: $first_name, familinomo: $last_name,
  chefaTelefonanumero: $tel, lingvo: $lang, sekso: $sex,
  reCaptcha: $captcha) {
    status
    errors {
      field,
      message
    }
    message
  }
}`
          let vars = {
            email: this.email,
            paswd: this.password,
            first_name: this.first_name,
            last_name: this.last_name,
            lang: this.language,
            tel: `${this.tel_code || ''}${this.tel_number || ''}`,
            sex: this.sex || null,
            captcha: this.recapcha_key
          }

          this.$axios.post('/registrado/', {
            query: query,
            variables: JSON.stringify(vars)
          })
            .then(response => {
              const resp = response.data.data.registrado

              if (resp.status) {
                this.$root.$emit('authdata', { login: this.email, password: this.password })
                this.$emit('success', true)
              } else {
                this.errors = mapErrorObject(resp.errors)
                this.$refs.reg_form.validate()
                this.errors = {}
                this.processing = false
              }
            })
            .catch(e => {
              console.error(e)
              this.processing = false
            })
        } else if (this.nick_only) {
          this.setNickname()
        }
      },
      setReCapchaKey (resp) {
        this.recapcha_key = resp
      },
      resetReCapchaKey () {
        this.recapcha_key = null
      },
      loadInfoData () {
        const query = `
query {
  informilojLingvoj {
    edges {
      node {
        uuid
        kodo
        nomo
        flago
      }
    }
  }

  informilojLandoj {
    edges {
      node {
        uuid
        flago
        kodo
        nomo {
          enhavo
        }
        telefonakodo
      }
    }
  }
}
        `

        this.$axios.post('', { query: query })
          .then(response => {
            this.infoj.lingvoj = response.data.data.informilojLingvoj.edges.map(
              v => ({ id: v.node.uuid, text: v.node.nomo, value: v.node.kodo, flag: v.node.flago })
            )

            for (let cur of response.data.data.informilojLandoj.edges) {
              this.infoj.landoj.push({ id: cur.node.uuid, text: cur.node.nomo.enhavo, value: cur.node.kodo })
              this.infoj.tel_kodoj.push({
                text: cur.node.telefonakodo, value: cur.node.telefonakodo, flag: cur.node.flago
              })
            }
          })
          .catch(e => {
            console.error(e)
          })
      }
    }
  }
</script>

<style scoped>

</style>
