<template>
	<div>
		<div>
			<v-card class="mx-auto" max-width="800">
				<v-img
					class="white--text align-end"
					height="200px"
					:src="
						uzanto && uzanto.kovrilo && uzanto.kovrilo.bildoE.url
							? uzanto.kovrilo.bildoE.url
							: 'https://cdn.vuetifyjs.com/images/cards/docks.jpg'
					"
				>
					<v-card-title v-if="uzanto && uzanto.avataro">
						<v-list-item-avatar size="90">
							<img
								:src="uzanto.avataro.bildoE.url"
								:title="
									(uzanto.unuaNomo.enhavo ? uzanto.unuaNomo.enhavo + ' ' : '') +
										(uzanto.familinomo.enhavo ? uzanto.familinomo.enhavo : '')
								"
							/>
						</v-list-item-avatar>
						{{
							(uzanto.unuaNomo.enhavo ? uzanto.unuaNomo.enhavo + ' ' : '') +
								(uzanto.duaNomo.enhavo ? uzanto.duaNomo.enhavo + ' ' : '') +
								(uzanto.familinomo.enhavo ? uzanto.familinomo.enhavo : '')
						}}
						{{ emitData() }}</v-card-title
					>
				</v-img>

				<v-card-subtitle class="pb-0" v-if="uzanto && uzanto.statuso">
					{{ uzanto.statuso.enhavo }}
				</v-card-subtitle>

				<v-card-text class="text--primary">
					<!-- <div>{{ this.muroUzanto_id ? this.muroUzanto_id : 'noname' }}</div> -->
					<div v-if="uzanto && uzanto.kontaktaInformo">{{ uzanto.kontaktaInformo.enhavo }}</div>
					<!-- <div v-else>none</div> -->
					<!-- <div>{{ uzanto ? uzanto.unuaNomo.enhavo : 'noname' }}</div> -->
					<!-- Что-то делаю не то -->
				</v-card-text>

				<app-editor :language="ru_RU" ref="editor" @save="on_save_method" @onChange="on_change_method" />
			</v-card>
		</div>
		<!-- <div style="width: 800px;">
			<!--  Вставка текстового редактора  Для добавления сообщений-->
		<!-- </div> -->
	</div>
</template>
<script>
import { uzanto_query } from '@/components/uzanto/queries';
import { graphQlUrlize } from '@/utils';

export default {
	data() {
		return {
			uzanto: null
		};
	},
	props: ['muroUzanto_id'],
	methods: {
		on_save_method(value) {
			console.log(value);
		},

		on_change_method(value) {
			console.log(value);
		},

		emitData() {
			this.$emit('uzantoData', {
				//Передача данных в idu.vue
				avataro: this.uzanto.avataro.bildoE.url,
				name: this.uzanto.unuaNomo.enhavo,
				familio: this.uzanto.familinomo.enhavo
			});
		},
		async load_uzanto() {
			const resp = await this.$axios.$get(
				graphQlUrlize({ query: uzanto_query, variables: { id: this.muroUzanto_id } })
			);

			this.uzanto = resp.data.uzanto;
		} //описываю метод запроса к бакэнду
	},
	mounted() {
		this.$refs.editor.save();
	},

	async mounted() {
		try {
			this.load_uzanto();
		} catch (error) {
			return {
				uzanto: null
			};
		}
	} // делаю запрос к бакэнду
};
</script>
