<template>
  <v-layout row class="bootom_nav">
    <!-- <v-layout row class="scrolling-wrapper">
      <div class="card" v-for="(item, i) in items" :key="i">
        <h2>{{item.title}}</h2>
      </div>
    </v-layout>-->
    <div class="scrollmenu">
      <span v-for="(item, i) in items" :key="i" href="#home">
        <app-nav-btn :id_key="i" :btn_text="item.title" />
      </span>
    </div>
  </v-layout>
</template>

<script>
export default {
  props: {
    items: {
      type: Array
    }
  }
}
</script>

<style scoped>
div.scrollmenu {
  background-color: #005983;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu span {
  display: inline-block;
  color: white;
  text-align: center;
  height: 100%;
  text-decoration: none;
}

div.scrollmenu span:hover {
  background-color: #777;
}
</style>
