<template>
  <v-layout
    align-center
    justify-center
    outlined
    class="nav_btn"
    mr-1
    pl-2
    pr-2
    @click="$emit('clicked', to)"
  >
    <span :id="`btn_text_${to}`">{{btn_text}}</span>
  </v-layout>
</template>

<script>
export default {
  props: {
    btn_text: {
      type: String
    },
    to: {
      type: [String, Function]
    }
  },
}
</script>
