<template >
  <client-only>
    <v-app>
      <!-- Верхнее меню -->
      <top-menu2></top-menu2>
      <!--  -->
      <!-- Левое меню -->

      <!--  -->
      <!-- Контент (из index.vue) -->
      <v-content class="pa-0 ma-0">
        <v-container :class="$auth.loggedIn ? 'main_container' : 'main_container_unauth'" fluid>
          <left-menu2></left-menu2>
          <right-menu></right-menu>
          <app-loader v-if="$auth.loader"></app-loader>
          <nuxt v-else />
        </v-container>
        <cookies-warning></cookies-warning>

        <!--  -->
        <!-- Всплывающее системное сообщение -->
        <!-- <client-only> -->
        <v-snackbar v-model="snackbar" top :timeout="3000" :color="snackText.color">
          {{ snackText.text }}
          <v-btn icon @click="snackbar = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-snackbar>
        <!-- </client-only> -->
        <!-- ------------------------------ -->
        <!-- Форма входа -->
        <v-dialog v-model="showLoginForm" v-if="!$auth.loggedIn" width="480">
          <v-card class="pa-2">
            <v-card-title class="pa-1">
              Вход
              <div class="flex-grow-1"></div>
              <v-btn icon text @click="showLoginForm = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text>
              <app-login-form />
            </v-card-text>
          </v-card>
        </v-dialog>
        <!-- ----------- -->
      </v-content>
    </v-app>
  </client-only>
</template>

<script>
import Vue from "vue";
import gql from "graphql-tag";
import topMenu2 from "../components/menu/topMenu2";

import leftMenu2 from "../components/menu/leftMenu2";
import rightMenu from "../components/menu/rightMenu";
import cookiesWarning from "../components/cookiesWarning";

export default {
  data() {
    return {
      clipped: true,
      drawer: false,
      fixed: false,
      miniVariant: false
    };
  },
  components: {
    topMenu2,
    leftMenu2,
    rightMenu,
    cookiesWarning
  },

  watch: {
    loggedIn: function(cur, old) {
      this.loading = !cur;
    }
  },

  computed: {
    snackbar: {
      set: function(val) {
        this.$store.commit("system/setSnackbar", val);
      },
      get: function() {
        return this.$store.state.system.snackbar;
      }
    },

    showLoginForm: {
      set: function(val) {
        this.$store.commit("system/setShowLoginForm", val);
      },

      get: function() {
        return this.$store.state.system.show_login_form;
      }
    },

    snackText() {
      if (this.$store.state.system.messages.length === 0) {
        return { text: "", color: null };
      }

      return this.$store.state.system.messages[0];
    }
  },

  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },

  mounted() {
    // проверка автоизации текущего пользователя
    this.$auth.fetchUser();
    /**
     * Тест подписки
     * Читаем про способы подписки тут:
     * https://vue-apollo.netlify.com/guide/apollo/subscriptions.html#subscribe-to-more
     */
    // Websocket только на стороне клиента и только для авторизированного пользователя
    if (process.client && this.$auth.loggedIn) {
      const query = gql`
        subscription($chats: [Int]!) {
          mesagxiloEventoj(babilejoj: $chats) {
            evento
            babilejo {
              uuid
              objId
              nomo {
                enhavo
              }
            }
            objekto {
              ... on MesagxiloMesagxoNode {
                uuid
                posedanto {
                  objId
                  unuaNomo {
                    enhavo
                  }
                  familinomo {
                    enhavo
                  }
                  avataro {
                    bildoF {
                      url
                    }
                  }
                }
                teksto {
                  enhavo
                }
              }

              ... on UzantoNode {
                objId
                unuaNomo {
                  enhavo
                }
                familinomo {
                  enhavo
                }
                avataro {
                  bildoF {
                    url
                  }
                }
              }
            }
          }
        }
      `;

      // объявляем быструю подписку
      const observer = this.$apollo.subscribe({
        query: query,
        variables: {
          chats: [1] // Сюда указать ID отслеживаемого чата
        }
      });

      // отправляем запрос с подпиской на сервер
      observer.subscribe({
        // функция обработки данных
        next(data) {
          console.log(data);
        },
        // функция обработки ошибки подписки
        error(error) {
          console.error(error);
        }
      });
    }
  },

  updated() {
    // run something after dom has changed by vue
  },
  created() {
    // Добавляем прототип для использования во всех компонентах Vue
    if (!this.hasOwnProperty("$siriuso")) {
      const siriuso = {
        showInfo: text => {
          this.$store.dispatch("system/showInfo", text);
        },

        showSuccess: text => {
          this.$store.dispatch("system/showSuccess", text);
        },

        showError: text => {
          this.$store.dispatch("system/showError", text);
        },

        showLoginForm: () => {
          this.$store.dispatch("system/showLoginForm");
        }
      };

      Vue.prototype.$siriuso = siriuso;
    }
  }
};
</script>

<style scoped>
.main_container_unauth {
  width: 1264px;

  min-height: calc(100% - 48px);

  margin-top: 48px;
}

.main_container {
  width: 1264px;

  min-height: calc(100% - 48px);

  margin-top: 48px;
}

main.v-content {
  background-image: url(/images/background.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
  align-self: center;
  left: unset !important;
  right: unset !important;
}
.v-toolbar__content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
</style>
